/* DEBUG */
.features * {
    border: 1px dashed violet;
}

/* FONT FAMILY -----*/
* {
    font-family: 'Open Sans', sans-serif;
}

/*----- /FONT FAMILY */

/* RESET -----*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

img:not(.logo) {
    width: 100%;
}

/*----- /RESET */

/* GRID LAYOUT -----*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: calc(100%/3);
}

.col-50 {
    width: 50%;
}

.col-70 {
    width: 70%;
}

.col-grow {
    flex-grow: 1;
}

/*---- /GRID LAYOUT */

/* GENERAL -----*/

.container-small {
    max-width: 1000px;
    margin: auto;
}

.container-large {
    max-width: 1200px;
    margin: auto;
}

.border-1px {
    border: 1px solid grey;
}

.button-circle {
    border-radius: 100%;
    border: 1px solid black;
    padding: 7px;
}

.button-default {
    color: white;
    background-color: #0061ff;
    font-size: 16px;
    border-radius: 1px;
    padding: 8px 12px;
}

.button-variant {
    background-color: white;
    border: 1px solid black;
    font-size: 14px;
    border-radius: 1px;
    padding: 8px 12px;
    width: 50%;
}

.button-padded {
    padding: 10px 40px 10px 40px;
}

#extra-pudding {
    padding-left: 85px;
    padding-right: 85px;
    transform: translatex(0px);
}

.padding-bottom-small {
    padding-bottom: 15px;
}

.padding-bottom-big {
    padding-bottom: 35px;
}

/*----- /GENERAL */

/* TYPOGRAPHY -----*/
h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

/*----- /TYPOGRAPHY */

/* HEADER -----*/

header {
    background-color: white;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0px;
    right: 0px;
    z-index: 10;
}

.nav {
    max-width: 100%;
    max-height: 80px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-left {
    padding-left: 10px;
}

.nav-right {
    padding-right: 10px;
    justify-content: end;
}

.nav-left,
.nav-right,
.nav ul {
    display: flex;
    align-items: center;
}

.nav-left li {
    padding-left: 40px;
}

.nav-right li {
    padding-right: 40px;
}

/*----- /HEADER */

/* MAIN ----------*/

/* HERO -----*/

.hero {
    background-color: #b4d0e7;
    max-width: 100%;
    margin-bottom: 160px;
    padding: 60px 0px 0px 0px;

}


.hero-container h1 {
    font-size: 60px;
    padding-bottom: 50px;
}

.hero-container .col-70 {
    margin-bottom: -80px;
}

.hero .col-30 .button-default {
    margin-top: 25px;
    margin-bottom: 25px;
}

.hero .col-30 {
    position: relative;
    top: 0;
    right: 0;
}

.hero .col-30 i {
    font-size: 40px;
    position: absolute;
    bottom: 2px;
}

/*----- /HERO */

/* OFFER SELECTION -----*/

.offers {
    margin-bottom: 100px;
}

.plan-choice {
    display: flex;
}

.plan-choice-buttons {
    padding-top: 50px;
    padding-bottom: 30px;
}

.plan-choice-buttons :nth-child(3) {
    margin-left: 30px;
    margin-bottom: 30px;
}

.plan-choice-buttons span {
    vertical-align: -6px;
    padding-left: 2px;
}

.plan-type {
    flex-wrap: nowrap;
    gap: 50px;
}

.user-type {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.plan-offer {
    padding: 25px;
    height: 100%;
    overflow-y: auto;
}

.plan-offer ul :nth-child(2) {
    padding-bottom: 0px;
}

.plan-offer li {
    display: flex;
}

.plan-offer i {
    padding-right: 5px;
}

.plan-offer a {
    text-decoration: underline;
    padding-left: 5px;
}

.plan-offer button {
    padding: 10px 30px 10px 30px;
}

.plan-offer hr {
    width: 20%;
}

.plan-offer .fa-check {
    color: #0061ff;
    font-size: 20px;
}

/*----- /OFFER SELECTION */

/* ENTERPRISE PRICE -----*/

.reach-us .container-small {
    max-height: 250px;
}

.team {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.enterprise {
    padding: 25px;
}

.enterprise button {
    margin-left: 19px;
}

/*----- /ENTERPRISE PRICE */

/* FIND A PARTNER -----*/

.partners{
    padding-top: 150px;
}

.partners .row {
    flex-wrap: nowrap;
    gap: 50px;
}

.partners .col-30 {
    padding-top: 50px;
}
/*----- /FIND A PARTNER */

/* BUSINESS FEATURES -----*/
.features{
    padding-top: 150px;
}

.features h2 {
    padding-bottom: 50px;
}
/*----- /BUSINESS FEATURES*/

/*---------- /MAIN */