/* DEBUG */
.section-1 {
    border: 1px dashed violet;
}

/* FONT FAMILY */
* {
    font-family: 'Open Sans', sans-serif;
}

/* /FONT FAMILY */

/*-- RESET --*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

ol,
ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

img:not(.logo) {
    width: 100%;
}

/*--/ RESET --*/

/*-- GRID LAYOUT --*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: calc(100%/3);
}

.col-50 {
    width: 50%;
}

.col-70 {
    width: 70%;
}

.col-grow {
    flex-grow: 1;
}

/*--/ GRID LAYOUT --*/

/* GENERAL */

.container-small {
    width: 1000px;
    margin: auto;
}

.container-large {
    width: 1200px;
    margin: auto;
}

.button-circle {
    border-radius: 100%;
    border: 1px solid black;
    padding: 7px;
}

.button-default {
    color: white;
    background-color: #0061ff;
    font-size: 16px;
    border-radius: 1px;
    padding: 8px 12px;
}

/* /GENERAL */

/* TYPOGRAPHY */
h1 {
    font-family: 'Open Sans', sans-serif;
}

/* /TYPOGRAPHY */

/* HEADER */

.nav {
    max-width: 100%;
    max-height: 80px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-left {
    padding-left: 10px;
}

.nav-right {
    padding-right: 10px;
    justify-content: end;
}

.nav-left,
.nav-right,
.nav ul {
    display: flex;
    align-items: center;
}

.nav-left li {
    padding-left: 40px;
}

.nav-right li {
    padding-right: 40px;
}

/*/ HEADER */

/* MAIN */
/*----- HERO */

.hero {
    background-color: #b4d0e7;
    max-width: 100%;
    margin-bottom: 120px;
}

.hero-container {
    padding: 70px 100px 0px 100px;
}

.hero-container h1 {
    font-size: 60px;
    padding-bottom: 50px;
}

.hero-container .col-70 {
    margin-bottom: -75px;
}

.hero .col-30 .button-default {
    margin-top: 25px;
    margin-bottom: 25px;
}

.hero .col-30 {
    position: relative;
    top: 0;
    right: 0;
}

.hero .col-30 i {
    font-size: 40px;
    position: absolute;
    bottom: 2px;
}

/*/----- HERO */
/*----- SECTION 1 */

.section-1 h2 {
    font-size: 40px;
    text-align: center;
}

.plan-choice {
    display: flex;
    justify-content: center;
}

.plan-choice-buttons {
    padding-top: 50px;
    padding-bottom: 30px;
}

.plan-choice-buttons :nth-child(3) {
    margin-left: 40px;
}

.plan-choice-buttons span {
    vertical-align: -6px;
    padding-left: 2px;
}

/*/----- SECTION 1 */
/* /MAIN */